SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_JWT_SECRET=
GROQ_API_KEY=
AUTH_REDIRECT_URL=http://localhost:8501
SENTENCE_TRANSFORMER_MODEL=all-MiniLM-L6-v2
DYLD_FALLBACK_LIBRARY_PATH=/opt/homebrew/lib
DEV_AUTH_EMAIL=
DEV_AUTH_PASSWORD=
DEV_AUTH_USER_ID=
